body {
    overflow-x: hidden;
    overflow-y: visible;
    animation-name: bg-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bg-animation {
    0%      {background-color: #15a7a7;}
    25%     {background-color: #0bc9c3;}
    50%     {background-color: #176969;}
    75%     {background-color: #0bc9c3;}
    100%    {background-color: #15a7a7;}
}
header {
    padding: 8px;
    font-family: cursive;
    background-color: #e2e2e2;
}
header h1 {
    margin: 0
}
header h1:first-letter {
    color: red;
}
header h2 {
    margin: 0
}
.container {
    padding: 8px;
}
.param {
    margin-top: 2%;
}
.param.x-param {
    margin-left: 39%;
}
.param.y-param {
    margin-left: 44%;
}
.param.r-param {
    margin-left: 43%;
}
.select {
    display: flex;
    margin-right: 8px;
}
#xRadio {
}
#rRadio {
}
.rRadio {
    height: 40px;
    width: 80px;
    margin: 8px;
}
#imageContainer{
    padding-top: 5%;
    width: 300px;
    height: 300px;
    margin: auto;
}
#graph-canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#result-grid{
    height: 300px;
    width: 300px;
    text-align: center;
}
.submit-button {
    margin-left: 44%;
    width: 200px;
    height: 64px;
}
#errors {
    grid-area: err;
    list-style-type: none
}
#result-table {
    grid-area: tbl;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: white;
}
#result-table tr {
    height: 2em;
}
#result-table tr.table-header:hover {
    background-color: #c8b5e9;
}
.coords-col {
    width: 12%;
}
.time-col {
    width: 25%;
}
tr {
    background-color: gray;
}
tr.hit-no {
    font-style: italic;
    color: black;
    background-color: indianred;
}
tr.hit-yes {
    color: initial;
    background-color: lightgreen;
}
table#headerContainer{
    width: 100%;
    background: rgba(255, 0, 0, .02);
}
.start-page-welcome-message, .start-page-link-to-main, .clock-panel {
    color: rgba(0, 0, 0, 0);
    font-family: 'Noto Sans Mono', monospace;
    text-align: center;
    margin-top: 5%;
    font-size: 36px;
}
h1#mainHeaderText{
    margin-left: 1%;
    opacity: 100%;
    font-family: serif;
    color: rgba(255, 252, 238, 0.63);
}
td#rightHeaderPart{
    padding-right: 2%;
    font-family: serif;
    color: rgb(231, 194, 195);
    text-align: right;
}
#imageContainer{
    padding-top: 5%;
    width: 300px;
    height: 300px;
    justify-content: center;
    margin: auto;
}
.scroll {
    overflow-y: auto;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
}

#result-grid{
    height: 300px;
    width: 300px;
    text-align: center;
}

td#imageCell{
    text-align: center;
}
table#inputContainer{
    width: 1px;
    text-align: center;
    border: 0;
    margin: auto;
    border-spacing: 0 10px;
}
table#inputContainer tr{
    margin-left: 10%;
    font-family: monospace, "JetBrains Mono Medium" ;
    font-size: 14px;
    color: whitesmoke;
}
tr#inputDataHeader{
    text-align: center;
}
.text-input{
    text-align: left;
}
input#xCoordinate{
    background-color: rgba(255, 255, 255, 0.5);
    border: 0 solid;
}
#inputX{
    text-align: center;
}
#XSelectRow {
    text-align: center;
}

#inputR{
    text-align: left;

}
.options{
    display: flex;
}
#XSelect {
    background: transparent;
    color: whitesmoke;
    text-align: center;

}
.submit-button{
    background-color: rgba(255, 255, 255, 0.65);
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4% 5% 5% 50px;
    cursor: pointer;
}

.Text{
    color: black;
}